*{
    margin: 0;
    padding: 0;

}

.body{
    display: flex;
}

.form-container{
    border-collapse: collapse;
    max-width: 1250px;
    width: 100%;
    height: 100%;
    background: rgb(226, 226, 226);
    padding: 25px 10px;
    margin: 25px 0;
    border-radius: 5px;
    overflow: hidden;
}

.form-container form .students-details{
    display: flex;
    
}

form .students-details .input-box{
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}

.students-details .input-box .details{
    margin-bottom: 5px;
    display: block;
}

.students-details .input-box input{
    height: 40px;
    width: 90%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #CCC;
    padding-left: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.students-details .input-box select{
    height: 42px;
    width: 90%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #CCC;
    padding-left: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

form .btn{
    width: 45px;
    margin: 25px 0;
}

form .btn button{
    height: 40px;
    width: 100px;
    outline: none;
    border: none;
    font-size: 13px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    background: rgb(42, 152, 255);
}

.students-details .input-box input:focus,
.students-details .input-box input:valid{
    border-color: #9b59b6

}

.students-details .input-box select:focus,
.students-details .input-box select:valid{
    border-color: #9b59b6

}

.table-content{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    max-width: 1300px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.table-content thead tr{
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
}

.table-content th,
.table-content td{
    padding: 12px 15px;
}

.table-content tbody tr{ 
    border-bottom: 1px solid #dddddd;
}

.table-content tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.table-content tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}

.infos{
    display: flex;
    justify-content: center;
}